button, input, optgroup, select, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
}